ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #1a1a1a;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}
